Matts GF is {{mattsgf}}<BR>
Num Results: {{numResults}}
<BR><BR>
{{firstBookURI}}
<BR>
<ol>
{{#each bookList}}
	<li>
		{{title}}
		{{uuid}}
		{{apiUri}}
	</li>
{{/each}}
</ol>


<BR>
Response:
{{request}}
<BR>
<BR>

</BODY>
</HTML>